*{
    margin: 0px;
    padding: 0%;
    box-sizing:border-box ;
    flex-wrap: wrap;
   
}
body{
    background-image: url(login-background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
}
.app-icon{
    display: flex;
}
.app-icon i{
    font-size: 40px;
     background: #3F5EFB;
background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
border-radius: 50%;
   
    
}
.icons{
    display: flex;
    cursor: pointer;

}
.icons i{
    font-size: 20px;
    padding-right: 10px;

}
.input{
    margin: auto;
    margin-top: 100px;
    border: 1px solid rgba(245, 245, 220, 0.358);
    border-radius: 20px;
    height: 450px;
    width: 350px;
    text-align: center;
    background-color: rgba(221, 160, 221, 0.142);
  
}
.input input{
    border-radius: 20px;
    width: 300px;
    height: 50px;
    margin-top: 50px;
    border: none;
    background-color: rgba(240, 248, 255, 0.019);
    color: rgb(224, 219, 219);
    font-weight: 700;
    padding-left: 20px;
    padding-right: 10px;
    border: 1px solid rgba(245, 245, 245, 0.377);
}
.input a{
    color: blue;

}

.remember-forgot{
    display: flex;
    justify-content: space-around;

}
.button{
    margin-top: 50px;
    font-size: 20px;
    
  
}
.button button{
    color: aliceblue;
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    background: #3f5efb02;
    border: 1px solid whitesmoke;

font-weight: 900;
cursor: pointer;
}
.input i{
    position: absolute;
    right: 620px;
   
   
    
}

.sansita-swashed-uniquifier{
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
#country{
    width:300px;
  background-color: #cdcdcd1a;
  color: rgba(238, 234, 234, 0.438);
  padding: 14px;
  margin-top: 40px ;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 900;
  border: 1px solid rgba(245, 245, 245, 0.418);

}

 #B:hover{
    color: rgb(7, 7, 7);
    background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
box-shadow:0px 0px 100px #ea03cb  ;
width: 300px;
border-radius: 50px;
    
 }
 .input:hover{
    box-shadow:0px 0px 200px #3F5EFB;
 }